.img-container {
	display: flex;
	flex-direction: row;
	width: 400px;
	height: 195px;
}

.left-tile {
	object-fit: cover;
	object-position: left;
	overflow: hidden;
}

.right-tile {
	object-fit: cover;
	object-position: right;
	overflow: hidden;
}
