:root {
	--bg-panel: #d8c19f;
	--bg-panel-light: #ead9bd;

	--border-dark: #8b6543;
	--shadow: rgba(0, 0, 0, 0.28);

	--text-dark: #2a2018;

	--tile-width: 150px;
	--tile-height: 75px;
	--tile-gap: 1rem;
	--tile-padding: 1rem;
	--button-height: 3rem;
	/* On calcule la place nécessaire pour 4 tuiles + les espaces entre elles */
	--panel-min-height: calc(
		(var(--tile-height) * 4) +
		(var(--tile-gap) * 4) +
		(var(--tile-padding) * 2) +
		(var(--button-height))
	);
	--water: #4fa3d9;
	--field: #d9b33b;
	--mountain: #8b8177;
	--volcano: #c2573f;
}
.app-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: 2rem;

	.kingdo-header {
		width: 100%;
		height: 4rem;
		border: 2px solid white;
	}
	.game-layout {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: flex-start;
		padding: 0 2rem;
		width: 100%;
		margin: auto;
		.draw-tiles {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: flex-start;
			gap: 2rem;
			height: var(--panel-min-height);
			flex: 0 0 25%;
			padding: var(--tile-padding);
			background: var(--bg-panel-light);
			border: 3px solid var(--border-dark);
			border-radius: 24px;
			/* box-shadow:
				0 10px 24px var(--shadow),
				inset 0 2px 2px rgba(255, 255, 255, 0.2);
 */
			.four-tiles {
				display: flex;
				flex-direction: column;
				justify-content: flex-start;
				align-items: center;
				gap: var(--tile-gap);
			}
		}
		.section-play {
			/*pas bien centrée*/
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			flex: 0 0 50%;
		}
		.playerhelper-container {
			flex: 0 0 25%;
			background: var(--bg-panel-light);
			border: 3px solid var(--border-dark);
			border-radius: 24px;
		}
		.section-score {
			flex: 0 0 25%;
		}
	}
}
