body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* .section {
	color: white;
} */

.section-play {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
}
