@import "@fontsource/piedra/index.css";
:root {
	color-scheme: light dark;
	color: var(--text-dark);
	font-family: "Piedra", system-ui;
	background-image: url("src/assets/bg_kingdo_16_9_gamma2.webp");
	background-position: center bottom;
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 100vh;
	--bg-panel: #d8c19f;
	--bg-panel-light: #ead9bd;
	--border-dark: #8b6543;
	--text-dark: #3d2d21;

	--tile-width: 150px;
	--tile-height: 75px;
	--tile-gap: 1rem;
	--tile-padding: 1.6rem;
	--button-height: 3rem;
	/* On calcule la place nécessaire pour 4 tuiles + les espaces entre elles */
	--panel-min-height: calc(
		(var(--tile-height) * 4) +
		(var(--tile-gap) * 4) +
		(var(--tile-padding) * 2) +
		(var(--button-height))
	);
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
